@charset "UTF-8";

html, body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/purty_wood.png');
  padding: 20px 0;
}

.container {
  box-sizing: border-box;
  width: 700px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
}

.clear::after,
.container::after {
  content: "";
  clear: both;
  display: table;
}

#header {
  background-color: #247a58;
}

#header h1 {
  margin: 0;
  padding: 0 0 10px;
  color: white;
}

#nav {
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
}

#nav a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
}

#main h2,
#main h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#main h2 {
  margin-top: 0;
}

#content {
  box-sizing: border-box;
  float: left;
  width: 480px;
  padding-right: 20px;
}

form label,
form input {
  display: block;
  width: 100%;
  line-height: 2em;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 200px;
}

#footer {
  background: white;
  border-top: 1px solid #ccc;
  text-align: center;
}

#footer p {
  padding: 0;
  margin: 0;
}

.loading {
  width: 100%;
  min-height: 100px;
  position: relative;
}

.loading::before {
  content: "Loading";
  display: block;
  line-height: 100px;
  font-size: 42px;
  color: #bbb;
  position: abslute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.separo {
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  float: left;
}

.siswa {
  border-radius: 6px;
  margin: 0;
}

.siswa:hover {
  background-color: #d7e4ff;
}

ul.siswa {
  padding-left: 2em;
  list-style-type: none;
}

div.siswa {
  padding: 8px;
}

.siswa a, .siswa span {
  display: block;
}

.siswa img {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border-radius: 3px;
  float: left;
}

.siswa h4 {
  margin: 0 0 0 100px;
  padding: 5px 0 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1em;
  font-size: 18px;
  text-overflow: ellipsis;
}

.siswa div {
  margin: 0 0 0 100px;
  padding: 0 0 0 15px;
}

.siswa div > * {
  padding: 0;
  line-height: 1.5em;
}

.siswa div a {
  text-decoration: none;
  color: blue;
}

.siswa div a:hover {
  background-color: #c6d9ff;
}

.siswa li {
  position: relative;
  line-height: 1.5em;
}

.siswa li::before {
  display: inline-block;
  position: absolute;
  left: -1.8em;
  top: 2px;
  width: 1.6em;
  text-align: center;
}

.selesai li::before {
  content: "✅";
}

.revisi li::before {
  content: "🔄";
}

.belum li::before {
  content: "❓";
}